$grass: #78C850;

$fire: #cd231a;

$water: #6890F0;

$electric: #F8D030;

$ground: #886830;

$flying: #705898;

$rock: #886830;

$ice: #98D8D8;

$ghost: #A890F0;
   
$bug: #D8E030;

$normal: #705848;

$psychic: #F85888;
    
$poison: #A040A0;
 
$fighting: #F08030;

$dark: #484038;

$steel: #807870;

$fairy: #F0B6BC;
  
$dragon: #7038F8;

:export{
    grass: $grass;
    fire:$fire;
    water: $water;
    electric:$electric;
    ground:$ground;
    flying:$flying;
    rock:$rock;
    ice:$ice;
    ghost:$ghost;
    bug:$bug;
    normal:$normal;
    psychic:$psychic;
    poison: $poison;
    fighting:$fighting;
    dark: $dark;
    steel: $steel;
    fairy: $fairy;
    dragon: $dragon;
}