.pagination{
    position: absolute;
    bottom: 10px;
    justify-items: center;
    align-items: center;
    margin-left: 8rem;
    button{
        justify-content: center;
        align-content: center;
    }
}