html, body, pre, code, kbd, samp {
font-family: 'Press Start 2P', cursive;}

.title{
    color: blue;
}

.text{
    overflow-y:scroll;
    scrollbar-width: thin;
    height: 20rem;
    border-radius: 10px;
    border: 6px solid;
    background-color: lightgrey;
}

.text::-webkit-scrollbar{
    width: 15px;

}

.text::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 10px;

}

.text::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    border: 6px solid;
    background-clip: content-box;
    cursor: grab;
}