html, body, pre, code, kbd, samp {
font-family: 'Press Start 2P', cursive;}

.text-container{
    overflow-y:scroll;
    scrollbar-width: thin;
    height: 50vh;
    border-radius: 5px;
    border: 2px solid;
    background-color: rgb(194, 193, 193);
    .dialogue-box{
        border-radius: 2px;
        padding: 5px;
        line-height: 0.8em;
        // margin: auto;
        border: 1px solid white;
        box-shadow: 0 1px 0 1px black,
                    inset 0 1px 0 1px black,
                    0 0 0 1px black,
                    inset 0 0 0 1px black;
        .author{
            color: rgb(58, 58, 153);
            font-size: 8px;
            text-transform: capitalize;
        }
        > p{
            font-size:10;
        }   
    }
    
}

.text-container::-webkit-scrollbar{
    width: minmax(0.6em, 0.8em);
    // min-width: 0.6em;
    // max-width: 1em;
    cursor: pointer;
    pointer-events: auto;

}

.text-container::-webkit-scrollbar-track {
    background-color:rgb(116, 113, 113);
    border-radius: 5px;

}

.text-container::-webkit-scrollbar-thumb {
    // background-color: #d6dee1;
    // border-radius: 10px;
    // border: 6px solid;
    background-image:url(https://www.pinclipart.com/picdir/big/558-5584196_pixel-art-pokeball-clipart-png-download-pokemon-pixel.png);
    // background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 120%;
    background-clip: content-box;
    cursor: grab;
    pointer-events: auto;
}

.text-container::-webkit-scrollbar-thumb:hover {
    background-image: url(https://www.pngkit.com/png/full/228-2289847_master-ball-pixel-art-pokeball.png); 
    cursor: pointer;
    pointer-events: auto;
}