html, body, pre, code, kbd, samp {
font-family: 'Press Start 2P', cursive;}

.title{
    color: blue;
}

.text{
    overflow-y:scroll;
    scrollbar-width: thin;
    height: 50vh;
    border-radius: 10px;
    border: 6px solid;
    background-color: lightgrey;
    
}

.text::-webkit-scrollbar{
    width: 18px;
    cursor: pointer;
    pointer-events: auto;

}

.text::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 10px;

}

.text::-webkit-scrollbar-thumb {
    // background-color: #d6dee1;
    // border-radius: 10px;
    // border: 6px solid;
    background-image:url(https://www.pinclipart.com/picdir/big/558-5584196_pixel-art-pokeball-clipart-png-download-pokemon-pixel.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 120%;
    background-clip: content-box;
    cursor: grab;
    pointer-events: auto;
}

.text::-webkit-scrollbar-thumb:hover {
    background-image: url(https://www.pngkit.com/png/full/228-2289847_master-ball-pixel-art-pokeball.png); 
    cursor: pointer;
    pointer-events: auto;
}