
span{
  position: relative;
}
a{
  color:white;
  text-decoration: none;
}
input{
  background-color: white;
  position: relative;
  font-family: "press+start+p2";
}

.grid{
  display: grid;
  grid-template-columns: 1fr, 1fr;
  background-color: cadetblue;
}

.grid-item{
  position: relative;
  width: 90%;
  margin-top: 1.5em;
  background-color: chartreuse;
}
.box1{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;  
  grid-row-end: 3;
  height: 40em;
  margin-bottom: 1.5em;;
}

.box3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;  
  grid-row-end: 3;
  margin-bottom: 1.5em;;
}
  